
div.scroll {
  width: 580px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  background-color:aliceblue;
}

tr:nth-child(even) {
	background-color:powderblue;
}

div.data_background {
  background-image: url("data.png");
  background-repeat: no-repeat;
  background-color:aliceblue;
  background-size: cover;
}